.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: var(--bg-secondary);
  transition: var(--transition);
}

@media (max-width: 768px) {
  .content.shifted {
    margin-left: 0;
  }
}
